<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="../../static/style.css">
    <link rel="stylesheet" href="../../static/8~10Style.css">
</head>

<body>

    {% include 'header-and-nav.html'%}

    <div class="main-header">
        <h1 class="main-header__title"> 이화여자대학교 월간 랭킹 </h1>
        <hr class="main-hr">
    </div>

    <div class="outer">
        <div class="signup-inner">
            <br>
            <button id="btn10-active">전체</button>
            <button class="btn10">인문과학대학</button>
            <button class="btn10">사회과학대학</button>
            <button class="btn10">자연과학대학</button>
            <button class="btn10">엘텍공과대학</button>
            <button class="btn10">음악대학</button>
            <button class="btn10">조형예술대학</button>
            <button class="btn10">사범대학</button><br>
            <button class="btn10">경영대학</button>
            <button class="btn10">신산업융합대학</button>
            <button class="btn10">의과대학</button>
            <button class="btn10">간호대학</button>
            <button class="btn10">약학대학</button>
            <button class="btn10">스크랜튼대학</button>
            <button class="btn10">인공지능대학</button>
            <button class="btn10">호크마교양대학</button><br><br>
        </div><br>

        <!--랭킹 순위 별 프로필, 포인트 불러오기 백엔드 연동 필요: 유저네임, 유저프로필(img),  포인트(range의 value) 값 넣기-->
              <div class="ranking-inner">
                  <p class="warning-msg" style="text-align:left;">*총 거래 포인트(판매포인트+구매포인트)를 기준 상위 10명의 순위입니다.</p>
                  <table style="margin:auto;">
                      <tr>
                          <td>1</td>
                          <td><img src="../../static/img/profile.jpg"></td>
                          <td>이화인</td>
                          <td class="level">lv.3</td>
                          <td>
                              <div class="bar-container">
                                  <div class="bar" id="bar1"></div>
                              </div>
                          </td>
                          <td>900000</td>
                      </tr>
                      <tr>
                          <td>2</td>
                          <td><img src="../../static/img/profile.jpg"></td>
                          <td>감자</td>
                          <td class="level">lv.3</td>
                          <td>
                              <div class="bar-container">
                                  <div class="bar" id="bar2"></div>
                              </div>
                          </td>
                          <td>700000</td>
                      </tr>
                      <tr>
                          <td>3</td>
                          <td><img src="../../static/img/profile.jpg"></td>
                          <td>구름이</td>
                          <td class="level">lv.3</td>
                          <td>
                              <div class="bar-container">
                                  <div class="bar" id="bar3"></div>
                              </div>
                          </td>
                          <td>680000</td>
                      </tr>
                      <tr>
                          <td>4</td>
                          <td><img src="../../static/img/profile.jpg"></td>
                          <td>오레오오</td>
                          <td class="level">lv.3</td>
                          <td>
                              <div class="bar-container">
                                  <div class="bar" id="bar4"></div>
                              </div>
                          </td>
                          <td>540000</td>
                      </tr>
                      <tr>
                          <td>5</td>
                          <td><img src="../../static/img/profile.jpg"></td>
                          <td>감자돌이</td>
                          <td class="level">lv.3</td>
                          <td>
                              <div class="bar-container">
                                  <div class="bar" id="bar5"></div>
                              </div>
                          </td>
                          <td>450000</td>
                      </tr>
                      <tr>
                          <td>6</td>
                          <td><img src="../../static/img/profile.jpg"></td>
                          <td>감자돌이</td>
                          <td class="level">lv.3</td>
                          <td>
                              <div class="bar-container">
                                  <div class="bar" id="bar6"></div>
                              </div>
                          </td>
                          <td>400000</td>
                      </tr>
                      <tr>
                          <td>7</td>
                          <td><img src="../../static/img/profile.jpg"></td>
                          <td>감자돌이</td>
                          <td class="level">lv.3</td>
                          <td>
                              <div class="bar-container">
                                  <div class="bar" id="bar7"></div>
                              </div>
                          </td>
                          <td>350000</td>
                      </tr>
                      <tr>
                          <td>8</td>
                          <td><img src="../../static/img/profile.jpg"></td>
                          <td>감자돌이</td>
                          <td class="level">lv.3</td>
                          <td>
                              <div class="bar-container">
                                  <div class="bar" id="bar8"></div>
                              </div>
                          </td>
                          <td>300000</td>
                      </tr>
                      <tr>
                          <td>9</td>
                          <td><img src="../../static/img/profile.jpg"></td>
                          <td>감자돌이</td>
                          <td class="level">lv.3</td>
                          <td>
                              <div class="bar-container">
                                  <div class="bar" id="bar9"></div>
                              </div>
                          </td>
                          <td>280000</td>
                      </tr>
                      <tr>
                          <td>10</td>
                          <td><img src="../../static/img/profile.jpg"></td>
                          <td>감자돌이</td>
                          <td class="level">lv.3</td>
                          <td>
                              <div class="bar-container">
                                  <div class="bar" id="bar10"></div>
                              </div>
                          </td>
                          <td>200000</td>
                      </tr>
                  </table>
              </div>

    </div>

    <script>
        function setBarWidth(barId, value) {
            const bar = document.getElementById(barId);
            const width = (value / 1000000) * 100; // 범위를 백분율로 변환
            bar.style.width = width + '%';
        }

        // 각 막대그래프의 값 설정
        setBarWidth('bar1', 900000); 
        setBarWidth('bar2', 700000); 
        setBarWidth('bar3', 680000); 
        setBarWidth('bar4', 540000); 
        setBarWidth('bar5', 450000); 
        setBarWidth('bar6', 400000); 
        setBarWidth('bar7', 350000); 
        setBarWidth('bar8', 300000); 
        setBarWidth('bar9', 280000); 
        setBarWidth('bar10', 200000); 
    </script>

</body>
</html>