<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="../../static/style.css">
    <link rel="stylesheet" href="../../static/8~10Style.css">
    <link rel="stylesheet" href="../../static/btn.css">
</head>

<body>

    {% extends "index.html" %}
    <!--11주차 교수님 제공 코드 복붙-->
    {% block section %}
    {% with mesg = get_flashed_messages() %}
    {% if mesg !=[] %}
    <script>alert("{{ mesg[0] }}")</script>
    {% endif %}
    {% endwith %}
    <div class="main-header">
        <h1 class="main-header__title"> 회원가입 </h1>
        <hr class="main-hr">
    </div>

    <div class="outer">
        <form method="post" action="/signup_post">
            <div class="signup-inner">
                <p class="warning-msg">*은 필수</p>
                <table style="height: 300px;">
                    <tr>
                        <th>*아이디</th>
                        <td><input type="text" required id="ID" name="ID" placeholder="영문/숫자 조합" /></td>
                        <td><button class="중복체크">중복확인</button></td>
                    </tr>
                    <tr>
                        <th>*비밀번호</th>
                        <td><input type="password" required id="PW" name="PW" placeholder="영문/숫자 조합 8~16자" /></td>
                    </tr>
                    <tr>
                        <th>*비밀번호 확인</th>
                        <td><input type="password" required id="PWconfirm" name="PWconfirm" /></td>
                    </tr>
                    <tr>
                        <th>*이메일 주소</th>
                        <td><input type="email" required id="email" name="email" /></td>
                    </tr>
                    <tr>
                        <th>전화번호</th>
                        <td><input type="tel" id="HP" name="HP" /></td>
                    </tr>
                    <tr>
                        <th>대학 / 학과</th>
                        <td>
                            <select id="dropdown1" style="width:100%;">
                                <option value="인문과학대학">인문과학대학</option>
                                <option value="사회과학대학">사회과학대학</option>
                                <option value="자연과학대학">자연과학대학</option>
                                <option value="엘텍공과대학">엘텍공과대학</option>
                                <option value="음악대학">음악대학</option>
                                <option value="조형예술대학">조형예술대학</option>
                                <option value="사범대학">사범대학</option>
                                <option value="경영대학">경영대학</option>
                                <option value="신산업융합대학">신산업융합대학</option>
                                <option value="의과대학">의과대학</option>
                                <option value="간호대학">간호대학</option>
                                <option value="약학대학">약학대학</option>
                                <option value="스크랜튼대학">스크랜튼대학</option>
                                <option value="호크마교양대학">호크마교양대학</option>
                            </select>
                        </td>
                        <td>
                            <select id="dropdown2" style="width:172px;">
                                <option value="국어국문학과">국어국문학과</option>
                                <option value="중어중문학과">중어중문학과</option>
                                <option value="불어불문학과">불어불문학과</option>
                                <option value="독어독문학과">독어독문학과</option>
                                <option value="사학과">사학과</option>
                                <option value="철학과">철학과</option>
                                <option value="기독교학과">기독교학과</option>
                                <option value="영어영문학부">영어영문학부</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>*닉네임</th>
                        <td>
                            <input type="text" required id="name" name="name" />
                        </td>
                        <td>
                            <button class="중복체크">중복확인</button>
                        </td>
                    </tr>
                </table>
            </div><br><br>
            <div>
                <button class="btnFade btnDefaultblue" id="signup-btn"><b>가입하기</b></button>
            </div>

        </form>
    </div>
    {% endblock section %}

</body>
</html>