<!DOCTYPE html>
<html>
    <head>
        <link href="../../static/5~7style.css" type="text/css" rel="stylesheet">
        <link href="../../static/style.css" type="text/css" rel="stylesheet">
        <link href="../../static/btn.css" type="text/css" rel="stylesheet">
        <meta charset="UTF-8">
        <title>My Page</title>
    </head>
    <body>
        {% extends 'index.html' %}
        {% block section %}
            <main class="padding" id="min_width_600">
                <div class="main-header">
                    <h1 class="main-header">My Page</h1> 
                    <div class="main-hr__padding"></div><br>
                </div>
                {% if total == 0 %}
                    <div>
                        상품 구매 내역이 없습니다
                    </div>
                {% endif %}

                {% if total != 0 %}
                    {% for key, value in purchase %}
                        <div class="grid-container-wrapper" id="grid-container-wrapper-margin" >
                            <div class="mypage-container">
                                
                                    <div class="box left">
                                        <!--상품 사진-->
                                        <img src="{{value.photo_path}}" width="100%"style="max-height: 130px; min-width: 90px;" alt="상품 예시 사진입니다">
                                    </div>

                                    <div class="box middle" id="mypage-box-middle">
                                        <!--상품  제목-->
                                        <form class="mb-3" name="myform" method="post" action="reg_review_init" enctype="multipart/form-data">
                                            <div class="review-info__title">
                                                <input type="text" name="name" id="name" class="review-info__title" value="{{ value.item_name }}" style="display: none;">
                                                {{ value.item_name }} 
                                            </div>
                                                
                                            <div class="review-info__text" style="margin-top: 15px;">
                                                <img src="../../static/img/logo.png" width="25px" height="25px">
                                                &nbsp
                                                <input type="text" name="seller_id" id="seller_id" class="review-info__text" value="{{ value.writer}}" style="display: none;">
                                                <span style="justify-self: center;">{{ value.writer }}</span>
                                            </div>
                                            <div class="review-info__text" id="justify-right">
                                               <!-- <button class="button btnDefaultblue btnFade" id="reg-review-button" style="cursor:pointer;" >리뷰작성하기</button> -->                               
                                                <a class="button btnDefaultblue btnFade" id="reg-review-button" style="cursor:pointer;" href="/reg_review_init/{{key}}/">리뷰작성하기</a></span>
                                            </div>
                                        </form>
                                    </div>
                            </div>
                        </div>
                        {% endfor %}
                        <ul class="pagination">
                            <li><a href="">&lt;</a></li>
                            <li>
                                {% for i in range(page_count)%}
                                    <a href="{{url_for('view_reg_review', page=i)}}">{{i}}</a>
                                {% endfor %}<!--여기 for(view_list~)라고 해야 하는지 view all review가 되어야 하는지 궁금-->
                            </li>
                            <li><a href="">&gt;</a></li>
                        </ul>
    
                {% endif %}    
            </main>
        {% endblock section %}
    </body>

</html>