<!DOCTYPE html>
<html>
    <head>
        <link href="../../static/5~7style.css" type="text/css" rel="stylesheet">
        <link href="../../static/style.css" type="text/css" rel="stylesheet">
        <link href="../../static/btn.css" type="text/css" rel="stylesheet">
        <meta charset="UTF-8">
        <title>My Page</title>
    </head>
    <body>
        {% extends 'index.html' %}
        {% block section %}
            <main class="padding" id="min_width_600">
                <div class="main-header-left">
                    <div class="main-header__title">My Page</div> 
                    <hr class="main-hr__padding"></hr>
                </div>
                {% if total == 0 %}
                    <div>
                        상품 구매 내역이 없습니다
                    </div>
                {% endif %}

                {% if total != 0 %}
                    {% for key, value in purchase %}
                        <div class="grid-container-wrapper" id="grid-container-wrapper-margin" >
                            <div class="mypage-container">
                                
                                    <div class="box left">
                                        <!--상품 사진-->
                                        <img src="../../static/photos/{{value.photo_path[0]}}" width="100%"style="max-height: 130px; min-width: 90px;" alt="상품 예시 사진입니다">
                                    </div>
                                    <div class="box middle" id="mypage-box-middle">
                                        <!--상품  제목-->
                                        <form class="mb-3" name="myform" method="post" action="reg_review_init" enctype="multipart/form-data">
                                            <div class="review-info__title">
                                                <input type="text" name="name" id="name" class="review-info__title" value="{{ value.item_name }}" style="display: none;">
                                                {{ value.item_name }} 
                                            </div>
                                                
                                            <div class="review-info__text" style="margin-top: 15px;">
                                                <img src="../../static/img/logo.png" width="25px" height="25px">
                                                &nbsp
                                                <input type="text" name="seller_id" id="seller_id" class="review-info__text" value="{{ value.writer}}" style="display: none;">
                                                <span style="justify-self: center;">{{ value.writer }}</span>
                                            </div>
                                            <div class="review-info__text" id="justify-right">
                                                <a class="button btnDefaultblue btnFade" id="reg-review-button" style="cursor:pointer;" href="/reg_review_init/{{key}}/">리뷰작성하기</a></span>
                                            </div>
                                        </form>
                                    </div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="page-wrap">
                            <div class="pagination">
                                <ul>
                                    <li>
                                    {% for i in range(1, page_count + 1) %}  <!-- 페이지 번호 1부터 시작하도록 수정 -->
                                        <a href="{{url_for('view_reg_review', page=i)}}" color="black">{{i}}</a>
                                    {% endfor %} </li>
                                </ul>
                            </div>
                        </div>
    
                {% endif %}    
            </main>
        {% endblock section %}
    </body>

</html>