<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="UTF-8">
        <title>상품등록</title>
        <link href="../../static/style.css" type="text/css" rel="stylesheet">
        <link href="../../static/5~7style.css" type="text/css" rel="stylesheet">
    </head>

    <body>
        {% extends 'index.html' %}
        {% block section %}
        <main class="padding" id="min_width_600">
            <!--페이지 정보-->
            <div class="main-header-left">
                <div class="oneLine">
                    <h1 class="main-header">리뷰</h1>
                    <p>(92)</p><!--추가: 리뷰 숫자 받아와서 숫자 작성하는것-->
                </div>
                    <hr class="main-hr__padding">     
            </div> 

            <!--리뷰 요약-->
            <div class ="review-summary__box">
                <!--좌측 별점-->
                <div class="box left">
                    <!---->
                    <form class="mb-3" name="rate" id="rate" method="post">
                        <fieldset style="border: none;">
                            <p id="selectedRating" class="rating-num" style="margin-bottom: 5px; margin-top: 0%;">0.0</p>
                            <div class="rating-container">
                                <div class="rating-star" data-rating="5">★</div>
                                <div class="rating-star" data-rating="4">★</div>
                                <div class="rating-star" data-rating="3">★</div>
                                <div class="rating-star" data-rating="2">★</div>
                                <div class="rating-star" data-rating="1">★</div>
                            </div>
                        </fieldset>
                    </form>
                </div>    
                
                <!--우측 키워드와 그래프-->
                <div class="box middle">
                    <div>
                        <p><!--추가: 숫자-->00%의 구매자가 <!--속성 중 하나--> <span style="color: #0081a7; font-size: large;">"자세한 설명"</span> 이라고 생각해요 </p>
                        <table><!--바 추가해야 함-->
                            <tr>
                                <td>자세한 설명</td>
                                <td>
                                    <progress class="progress-bar" value="64" max="100"></progress>
                                    <label class="progress-label">64%</label>
                                </td>
                            </tr>
                            <tr>
                                <td>핵심 위주</td>
                                <td>
                                    <progress class="progress-bar" value="19" max="100"></progress>
                                    <label class="progress-label">19%</label>
                                </td>
                            </tr>
                            <tr>
                                <td>문제 풀이</td>
                                <td>
                                    <progress class="progress-bar" value="3" max="100"></progress>
                                    <label class="progress-label">3%</label>
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
            <!--전체 리뷰-->
            <div class="inLine">
                <h3>
                전체 리뷰
                </h3>
                <!--드롭다운 학과별 리뷰 선택-->
                <form> 
                    <label for = "major"></label>
                    <select id ="major">
                        <option value="학과전체" selected>학과전체</option>
                        <option value="인문과학대학">인문과학대학</option>
                        <option value="사회과학대학">사회과학대학</option>
                        <option value="자연과학대학">자연과학대학</option>
                        <option value="엘텍공과대학">엘텍공과대학</option>
                        <option value="음악대학">음악대학</option>
                        <option value="조형예술대학">조형예술대학</option>
                        <option value="사범대학">사범대학</option>
                        <option value="경영대학">경영대학</option>
                        <option value="신산업융합대학">신산업융합대학</option>
                        <option value="의과대학">의과대학</option>
                        <option value="간호대학">간호대학</option>
                        <option value="약학대학">약학대학</option>
                        <option value="스크랜튼대학">스크랜튼대학</option>
                        <option value="호크마교양대학">호크마교양대학</option>
                    </select>
                    <label for = "organize"></label>
                    <!--드랍다운 정렬 선택-->
                    <select id="organize">
                        <option value="최신순">최신순</option>
                        <option value="추천순" selected>추천순</option>
                        <option value="별점높은순">높은별점</option>
                        <option value="낮은별점순">낮은별점</option>
                    </select>
                </form>
            </div>
            <!--선-->
            <div class="main-hr__padding" style="background-color: #BCBCBC;"></div>
            <!--리뷰 보기-->
            <article style="padding-inline-start: 5%; padding-inline-end: 5%;">
                

                <!--
                {% include '5~7/individual_review.html' %}
                <div class="main-hr__padding" style="background-color: #BCBCBC;"></div>
                {% include '5~7/individual_review.html' %}
                <div class="main-hr__padding" style="background-color: #BCBCBC;"></div>
                {% include '5~7/individual_review.html' %}
                <div class="main-hr__padding" style="background-color: #BCBCBC;"></div>
                {% include '5~7/individual_review.html' %}
                <div class="main-hr__padding" style="background-color: #BCBCBC;"></div>
                {% include '5~7/individual_review.html' %}
                -->
            </article>
            <!--페이지 선택 창-->
            <ul class="pagination">
                <li><a href="">&lt;</a></li>
                <li><a href="">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
                <li><a href="">4</a></li>
                <li><a href="">5</a></li>
                <li><a href="">&gt;</a></li>
            </ul>
            
        </main>
        {% endblock section %}
    </body>   
</html>