<link href="../../static/5~7style.css" rel="stylesheet">
<link href="../../static/style.css" rel="stylesheet">

<div class="detail-review-wrapper">
    <div class="detail-review-container">
        <h1 style="grid-area: header;">상세리뷰</h1>
        <div class="main-hr__padding" style="grid-area: hr;"></div>
        <div style="grid-area: title; padding-left: 5px;">
                <!--백: 리뷰 제목 불러오기-->
                <div class="detail-review-title">리뷰 제목</div>
        </div>
        <div style="grid-area: class; padding-left: 5px;">
            <div class="review-product">
                오픈sw플랫폼 정리
            </div>
        </div>
        <div style="grid-area: reviewer; padding-left: 5px;">
            <div class="rowcontainer">
                <!--백: 작성자 프로필 사진 불러오기-->
                <div class="detail-review-profile">
                    <img src="../../static/img/profile.jpg" width="100%" height="100%" alt="상품 예시 사진입니다"></div>
                <!--백: 작성자 아이디 앞 3글자만 보이게 불러오기-->
                <div class="detail-review-id">ki*****</div>
                <!--백: 작성자 전공 불러오기-->
                <div class="detail-review-major">(컴퓨터공학과)</div>
            </div>
        </div>
        <div style="grid-area: rating;">
            <form class="mb-3" name="detail-review-rate" id="detail-review-rate" method="post">
                <fieldset style="border: none;">
                    <div class="rating-container">
                        <div class="rating-star" data-rating="5">★</div>
                        <div class="rating-star" data-rating="4">★</div>
                        <div class="rating-star" data-rating="3">★</div>
                        <div class="rating-star" data-rating="2">★</div>
                        <div class="rating-star" data-rating="1">★</div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div style="grid-area: tag; padding-left: 5px;">
            <button type="button" class="btn-clicked" id="detail-review-tag-button">자세한 설명</button>
        </div>
        <div style="grid-area: main; padding-left: 5px;">
            <div class="detail-review-main">
                <!--백: 리뷰 불러오기-->
                정리가 잘 되어있어서 좋아요 교수님 말씀 한번 듣고는 이해가 잘 안 되어 있었는데 많은 도움 받고 갑니다.
            </div>
        </div>
        <div style="grid-area: recommend; padding-left: 5px;">
            <form>
                <!--백: 추천수 불러오기-->
                <button type="button" class="detail-review-recommend-button"><img src="../../static/img/recommend.svg" height="30">(32)</button>
            </form>
        </div>
        <div style="grid-area: picture; place-self: center;">
            <!--백: 작성자 등록 대표 사진 불러오기-->
            <img src="../../static/img/logo.png" class="detail-review-img" alt="상품예시사진입니다">
        </div>
    </div>
</div>