<!DOCTYPE html>
<html>
<!--수정해야 할 곳 검색 키워드: '추가'-->
<!--클래스 통일/변경해야 할 곳 검색 키워드: '클래스통일'-->
<!--백엔드연결 키워드: '백엔드'-->

<head>
    <meta charset="UTF-8">
    <title>상품등록</title>
    <link href="/static/1~4style.css" type="text/css" rel="stylesheet">
    <link href="/static/style.css" type="text/css" rel="stylesheet">
    <link href="/static/btn.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/static/1~4main.js"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>

    <script>
        function showHeart() {
        $.ajax({
            type: 'GET',
            url: '/show_heart/{{item_name}}/',
            data: {},
            success: function (response){
                let my_heart = response['my_heart'];
                if (my_heart['interested'] == 'Y')
                {
                    $("#heart").css("color","red");
                    $("#heart").attr("onclick","unlike()");
                }
                else
                {
                    $("#heart").css("color","grey");
                    $("#heart").attr("onclick","like()");
                }
                //alert("showheart!")
                }
            }); 
        } 

        function like() {
            $.ajax({
                type: 'POST',
                url: '/like/{{item_name}}/',
                data: {
                    interested : "Y"
                },
                success: function (response) {
                    alert(response['msg']);
                    window.location.reload()
                }
            });
        }
        
        function unlike() {
            $.ajax({
                type: 'POST',
                url: '/unlike/{{item_name}}/',
                data: {
                    interested : "N"
                },
                success: function (response) {
                    alert(response['msg']);
                    window.location.reload()
                }
                });
            }
            
        $(document).ready(function () {
            showHeart();
        });

    </script>


</head>

<body>
    {% extends 'index.html' %}
        {% block section %}
    <!----------------------상품보기------------------------->
    <!----2번 화면 item card 중복 요소 있음-->
    <main id="order-page">
        <div id="order-page-container">

            <!-------------------대표상품이미지------------------>
            <!--가능하다면 js로
                    (1)이미지 개수에 따라 다르게 보이도록(없는 칸은 회색단색으로 표시
                    (2)이미지 클릭 시 그 이미지가 제일 큰 이미지창에 보이도록-->
            <!--추후 js 백엔드 연결 시 사진 삭제-->
            <div id="item-detail__main-img__container"><!--대표이미지main. 1,2,3 서브이미지 중 하나 확대. default는 img-1-->
                <img class="item-detail__main-img" src="/static/photos/{{data.photo_path}}"/>
            </div>

            <div class="item-card__info"><!--아이템 정보-->
                <div class="item-card__course-and-prof">
                    {{data['course_number']}} | {{data['professor']}} 교수님
                    <!--백엔드에서 등록된 상품의 과목, 교수님 정보 불러오기-->
                    <!--자료구조 20481 | 홍길동 교수님   인데..  교수님 안들어감--> 
                </div>

                <strong class="item-card__item-name" style="font-size: 30px;">
                    {{data['item_name']}} 
                    <!--제 6장 연결리스트1 정리-->
                </strong><br>
                <span class="item-card__seller">
                    <!--백엔드에서 등록된 판매자 이름 불러오기-->
                    BY. {{data['writer']}}   <!-- 왜 이 부분 출력이 안 되지?-->
                    <!--이화인-->
                    <br><br></span>

                <div class="price-rate-container">
                    <span class="item-card__price">
                        <img class="input-img" src="/static/img/point.svg" style="margin-right: 5px;">
                        <!--가격 백엔드에서 불러오기-->
                        {{data['price']}}
                    </span>
                    <span class="item-card__rate">
                        <span class="item-card__download" style="margin-right: 10px;">
                            <img class="input-img" src="/static/img/download.svg">
                            <!--다운로드/판매횟수 백엔드에서 불러오기-->
                            100
                        </span>
                        <span class="item-card__star">
                            <img class="input-img" src="/static/img/star.svg">
                            <!--별점 백엔드에서 불러오기-->
                            {{data['reviewStar']}}
                        </span>
                    </span>
                </div><br>
                <div class="item-card__type">
                    <!--item type; 백엔드에서받기 아래 텍스트는 예시-->
                    <span>전공 / 교양</span> {{data['course_type']}}
                    </div>
                <div class="item-card__type">
                    <!--item type; 백엔드에서받기 아래 텍스트는 예시-->
                    <span>Type</span> {{data['item_type']}}
                </div>
                <div class="item-card__type">
                    <!--item type; 백엔드에서받기 아래 텍스트는 예시-->
                    <span>단대 / 학과</span> {{data['faculty']}} / {{data['major']}}
                </div><br>
                <div class="item-card__tag">
                    <!--백엔드에서 불러오기-->
                    {{data['tag']}}   <!--태그 여러개 등록하는 것 추후 추가-->
                </div>
            </div>
            <div class="item-detail__sub-img-container"><!-- 서브이미지-->
                <!--<img id="item-info__img-1" class="item-detail__sub-img" src="{{photo_path}}">-->
                <img id="item-info__img-1" class="item-detail__sub-img" src="/static/img/logo.png">
                <img id="item-info__img-2" class="item-detail__sub-img" src="/static/img/logo.png">
                <img id="item-info__img-3" class="item-detail__sub-img" src="/static/img/logo.png">
                <!--사진 여러개일때 여러개 보여주는 것 구현-->
                <!--백엔드에서 등록된 상품 regitem__photo-upload 불러오기-->
            </div>
            <!--구매 버튼-->
            <div>
                <button onclick="location.href='/1-4/order_item/{{item_name}}/';" title="to-payment" id="order-btn" class="button btnFade btnDefaultblue">바로 구매하기</button>
                <i class="fa fa-heart" id="heart"></i>
            </div>
           
            <div id="order__view-rate__container"><!-------------------------상세설명/리뷰--------------------->
                <!----------------버튼 태그, js로 기능 구현, 백엔드 연결---------->
                <!--js: 클릭 시 상세설명이 보이도록-->
                <span><button id="descr-btn" class="button btnFade btnNavblue">상세 설명</button></span>
                <!--js: 클릭 시 리뷰 요약이 보이도록.안되면 전체 리뷰 창으로 이동-->
                <span><button onclick="location.href='/reg_review_init/{{key}}';" id="review-btn" class="button btnFade btnNavblue">리뷰</button></span>
                <!--내용-->
                <div id="order__show-view-rate">
                    <!--리뷰내용--> <!--백엔드: 리뷰 내용 받아오기-->
                    <!--<div id="reveiw-screen" class="screen">
                        리뷰내용                        
                    </div> -->
                    <!--상세설명 텍스트-->
                    <div id="descr-screen" class="screen">
                        {{data['description']}}
                        <!--백엔드: 상세 설명 받아오기-->
                    </div>
                </div>
            </div>
        </div>
    </main>
    {% endblock section %}
</body>

</html>

