<!DOCTYPE html>
<html>
<!--수정해야 할 곳 검색 키워드: '추가'-->
<!--클래스 통일/변경해야 할 곳 검색 키워드: '클래스통일'-->
<!--백엔드연결 키워드: '백엔드'-->

<head>
    <meta charset="UTF-8">
    <title>상품등록</title>
    <link href="../../static/1~4style.css" type="text/css" rel="stylesheet">
    <link href="../../static/style.css" type="text/css" rel="stylesheet">
    <link href="../../static/btn.css" type="text/css" rel="stylesheet">
    <script src="../../static/1~4main.js"></script>
</head>

<body>
    {% include 'header-and-nav.html' %}
    <main>
        <div class="main-header main-header__flex-container">
            <h1 class="main-header__title">상품등록</h1>
            <span>판매자 : {{ usrname }}</span>
        </div>
        <hr class="main-hr">
        <div>
            <div id="regitem-container">
                <!-- 입력 폼 시작 백엔드 연동, js 부분 임시로 채움; 실제 수행 시 수정-->
                <form id="regitem" action="/submit_regiterd_item" method="post">
                    <!----수정-->
                    <div id="regitem-itemname">상품 이름</div>
                    <div id="regitem-input-itemname">
                        <input type="text" name="item-name" required>
                        <div style="padding-bottom: 3px;">{% include '1~4/regitem__type.html' %}</div>
                        <div class="warning-msg">본인의 순수한 창작물이 아닌 상품은 등록할 수 없습니다.</div>
                    </div>
                    <div id="regitem-price">가격</div>
                    <input type="number" class="input-with-icon" id="regitem-input-price" name="price"
                        oninput="addCommas(this);" style="background-image: url(/static/img/point.svg);" required>

                    <div id="regitem-courseinfo"> 강의 </div>
                    <div id="regitem-input-courseinfo1">
                        <!--전공/교양-->
                        <select class="course-type" name="course-type">
                            <option value="" disabled selected>전공/교양</option>
                            <option value="major">전공</option>
                            <option value="libral">교양</option>
                        </select>
                        <!--단과대-->
                        <select class="course-faculty" name="faculty">
                            <option value="" disabled selected>단과대</option>
                            <option value="인문과학대학">인문과학대학</option>
                            <option value="사회과학대학">사회과학대학</option>
                            <option value="자연과학대학">자연과학대학</option>
                            <option value="엘텍공과대학">엘텍공과대학</option>
                            <option value="음악대학">음악대학</option>
                            <option value="조형예술대학">조형예술대학</option>
                            <option value="사범대학">사범대학</option>
                            <option value="경영대학">경영대학</option>
                            <option value="신산업융합대학">신산업융합대학</option>
                            <option value="의과대학">의과대학</option>
                            <option value="간호대학">간호대학</option>
                            <option value="약학대학">약학대학</option>
                            <option value="스크랜튼대학">스크랜튼대학</option>
                            <option value="호크마교양대학">호크마교양대학</option>
                        </select>
                        <!--학과-->
                        <select class="course-major" name="major">
                            <option value="국어국문학과">국어국문학과</option>
                            <option value="중어중문학과">중어중문학과</option>
                            <option value="불어불문학과">불어불문학과</option>
                            <option value="독어독문학과">독어독문학과</option>
                            <option value="사학과">사학과</option>
                            <option value="철학과">철학과</option>
                            <option value="기독교학과">기독교학과</option>
                            <option value="영어영문학부">영어영문학부</option>
                        </select>
                    </div>
                    <div id="regitem-input-courseinfo2">
                        <!--과목명/학수번호-->
                        <input class="course-number" class="input-with-icon" type="search" name="course-number"
                            placeholder="과목명/학수번호" style="background-image: url(/static/img/search_icon.svg);">
                        <!--백엔드연동: 데이터베이스 내에서 검색하여 선택하게 함-->
                        <!-- 교수님 -->
                        <input type="text" id="regitem__professor" name="professor" placeholder="교수님 성함"
                            style="height: 20px; width: 47%"><br><br>
                    </div>

                    <!--상세설명-->
                    <div id="regitem-description">상세설명</div>
                    <input type="text" id="regitem-input-description" name="description"
                        placeholder="상품에 대해 간략하게 설명해주세요." required>

                    <!--해시태그-->
                    <div id="regitem-tag">해시태그</div>
                    <input type="text" id="regitem-input-tag" name="tag" placeholder=" #를 기준으로 구분됩니다. 예) #자료구조 #연결리스트"
                        required>

                    <!-- 판매 상품 파일 등록 -->
                    <div id="regitem-uploadFile">상품등록</div>
                    <input type="file" id="regitem-input-uploadFile" name="item-upload" placeholder="상품을 등록해주세요."
                        required>

                    <!-- 사진 등록 -->
                    <div id="regitem-uploadImage">사진등록</div>
                    <input type="file" id="regitem-input-uploadImage" class="file-input" name="photo-upload"
                        placeholder="처음으로 불러온 사진이 대표사진으로 설정됩니다.">
                    <!-- 등록하기 버튼 -->
                    <input type="submit" value="등록하기" id="regitem-submit" class="button btnFade btnLightblue">

                </form>
            </div>
        </div>
    </main>
</body>

</html>