<!DOCTYPE html>
<html>
<!--수정해야 할 곳 검색 키워드: '추가'-->
<!--클래스 통일/변경해야 할 곳 검색 키워드: '클래스통일'-->
<!--백엔드연결 키워드: '백엔드'-->

<head>
    <meta charset="UTF-8">
    <title>상품보기</title>
    <link href="../../static/1~4style.css" type="text/css" rel="stylesheet">
    <link href="../../static/style.css" type="text/css" rel="stylesheet">
    <link href="../../static/btn.css" type="text/css" rel="stylesheet">
    <script src="../../static/1~4main.js"></script>
</head>

<body> <!--1,8 가로폭 지정-->
    {% include 'header-and-nav.html' %}
    <main class="padding">
        <!-------------------------페이지 제목----------------------->
        <div class="main-header">
            <h1 class="main-header__title">상품 보기</h1>
            <hr class="main-hr__padding">
        </div>
        <!-------------------------상품검색-------------------------->
        <section id="search-item">
            <!---------------과목/학수번호검색--------------->
            <!--과목명/학수번호-->
            <input class="course-number" class="input-with-icon" type="search" name="course-number"
                placeholder="과목명/학수번호">
            <!--백엔드연동: 데이터베이스 내에서 검색하여 선택하게 함-->
            <div>
                <!--전공/교양-->
                <select class="course-type" name="course-type" style="width:18%;">
                    <option value="" disabled selected>전공/교양</option>
                    <option value="major">전공</option>
                    <option value="libral">교양</option>
                </select>
                <!--단과대-->
                <select class="course-faculty" name="faculty" style="width:18%;">
                    <option value="" disabled selected>단과대</option>
                    <option value="인문과학대학">인문과학대학</option>
                    <option value="사회과학대학">사회과학대학</option>
                    <option value="자연과학대학">자연과학대학</option>
                    <option value="엘텍공과대학">엘텍공과대학</option>
                    <option value="음악대학">음악대학</option>
                    <option value="조형예술대학">조형예술대학</option>
                    <option value="사범대학">사범대학</option>
                    <option value="경영대학">경영대학</option>
                    <option value="신산업융합대학">신산업융합대학</option>
                    <option value="의과대학">의과대학</option>
                    <option value="간호대학">간호대학</option>
                    <option value="약학대학">약학대학</option>
                    <option value="스크랜튼대학">스크랜튼대학</option>
                    <option value="호크마교양대학">호크마교양대학</option>
                </select>
                <!--학과-->
                <select id="search-item__department" name="department" style="width:18%;">
                    <option value="" disabled selected>학과</option>
                    <!-- 옵션은 JavaScript로 동적으로 추가 -->
                    <!-- '단과대'의 입력에 따라 '학과'의 입력 가능 범위를 동적으로 변경-->
                </select>
                <!--타입-->
                <span id="search-item__type">
                    {% include '1~4/regitem__type.html' %}
                </span>
            </div>
        </section>
        <!-------------------------본컨텐츠-------------------------->
        <div id="grid-item">
            <!----------------------------필터---------------------------->
            <aside id="filter">
                <!--제목-->
                <div class="filter__flex-container">
                    <p class="filter__flex-item">필터</p>
                    <input class="filter__flex-item" id="filter-reset-butn" type="reset" value="초기화">
                </div>
                <hr style="color: #f7f7f7;">
                <form id="filter-body">
                    <!--태그-->
                    <label for="filter-body__tag">태그</label><br>
                    <input id="filter-body__tag" type="text" name="filter-body__tag"><br><br>
                    <!--판매자-->
                    <label for="filter-body__seller">판매자</label><br>
                    <input id="filter-body__seller" type="text" name="filter-body__seller"><br><br>
                </form>
                <!--백엔드연결--> <!--적용하기-->
                <div><!--submit-->
                    <input type="submit" value="적용하기" id="filter-submit" class="button btnFade btnLightblue">
                </div>
            </aside>
            <!-------------------------상품보기-------------------------->
            <section id="view-item">
                <!------정렬------->
                <div class="sorting"> <!--js-->
                    <span onClick="sortby_regdate()">등록순</span> |
                    <span onClick="sortby_popular()"> 인기순</span> |
                    <span onClick="sortby_lowprice()"> 낮은 가격순</span>
                </div>
                <!-----상품카드----->
                <ul id="items">
                    <!--에시. js&백엔드 연결 후 데이터 삭제-->
                    <a href="../../1~4/3">
                        <li id="item-card1">
                            <div class="item-card">
                                <!--백엔드에서 등록된 상품 regitem__photo-upload 불러오기-->
                                <img class="item-card__img" src="../../static/img/logo.png">
                                <div class="item-card__info">
                                    <div class="item-card__course-and-prof">
                                        <!--백엔드에서 등록된 상품의 과목, 교수님 정보 불러오기-->
                                        자료구조 20481 | 홍길동 교수님
                                    </div>
                                    <strong class="item-card__item-name">
                                        <!--백엔드에서 등록된 item-name 불러오기-->
                                        제 6장 연결리스트1 정리
                                    </strong>
                                    <span class="item-card__seller">
                                        <!--백엔드에서 등록된 판매자 이름 불러오기-->
                                        BY. 이화인
                                        <br><br></span>
                                    <div class="price-rate-container">
                                        <span class="item-card__price">
                                            <img class="input-img" src="../../static/img/point.svg"
                                                style="margin-right: 5px;">
                                            <!--가격 백엔드에서 불러오기-->
                                            1000
                                        </span>
                                        <span class="item-card__rate">
                                            <span class="item-card__download" style="margin-right: 10px;">
                                                <img class="input-img" src="../../static/img/download.svg">
                                                <!--다운로드/판매횟수 백엔드에서 불러오기-->
                                                28
                                            </span>
                                            <span class="item-card__star">
                                                <img class="input-img" src="../../static/img/star.svg">
                                                <!--별점 백엔드에서 불러오기-->
                                                4.8
                                            </span>
                                        </span>
                                    </div>
                                    <div class="item-card__tag">
                                        <!--백엔드에서 불러오기-->
                                        #자료구조 #연결리스트
                                    </div>
                                    <div class="item-card__review">
                                        <!--추가: 리뷰화면으로 연결-->
                                        <a href="" style="border: 1.5px solid var(--light-grey);">리뷰</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </a>
                    <a href="../../1~4/3">
                        <li id="item-card2">
                            <div class="item-card">
                                <!--백엔드에서 등록된 상품 regitem__photo-upload 불러오기-->
                                <img class="item-card__img" src="../../static/img/logo.png">
                                <div class="item-card__info">
                                    <div class="item-card__course-and-prof">
                                        <!--백엔드에서 등록된 상품의 과목, 교수님 정보 불러오기-->
                                        자료구조 20481 | 홍길동 교수님
                                    </div>
                                    <strong class="item-card__item-name">
                                        <!--백엔드에서 등록된 item-name 불러오기-->
                                        제 6장 연결리스트1 정리
                                    </strong>
                                    <span class="item-card__seller">
                                        <!--백엔드에서 등록된 판매자 이름 불러오기-->
                                        BY. 이화인
                                        <br><br></span>
                                    <div class="price-rate-container">
                                        <span class="item-card__price">
                                            <img class="input-img" src="../../static/img/point.svg"
                                                style="margin-right: 5px;">
                                            <!--가격 백엔드에서 불러오기-->
                                            1000
                                        </span>
                                        <span class="item-card__rate">
                                            <span class="item-card__download" style="margin-right: 10px;">
                                                <img class="input-img" src="../../static/img/download.svg">
                                                <!--다운로드/판매횟수 백엔드에서 불러오기-->
                                                28
                                            </span>
                                            <span class="item-card__star">
                                                <img class="input-img" src="../../static/img/star.svg">
                                                <!--별점 백엔드에서 불러오기-->
                                                4.8
                                            </span>
                                        </span>
                                    </div>
                                    <div class="item-card__tag">
                                        <!--백엔드에서 불러오기-->
                                        #자료구조 #연결리스트
                                    </div>
                                    <div class="item-card__review">
                                        <!--추가: 리뷰화면으로 연결-->
                                        <a href="" style="border: 1.5px solid var(--light-grey);">리뷰</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </a>
                    <a href="../../1~4/3">
                        <li id="item-card3">
                            <div class="item-card">
                                <!--백엔드에서 등록된 상품 regitem__photo-upload 불러오기-->
                                <img class="item-card__img" src="../../static/img/logo.png">
                                <div class="item-card__info">
                                    <div class="item-card__course-and-prof">
                                        <!--백엔드에서 등록된 상품의 과목, 교수님 정보 불러오기-->
                                        자료구조 20481 | 홍길동 교수님
                                    </div>
                                    <strong class="item-card__item-name">
                                        <!--백엔드에서 등록된 item-name 불러오기-->
                                        제 6장 연결리스트1 정리
                                    </strong>
                                    <span class="item-card__seller">
                                        <!--백엔드에서 등록된 판매자 이름 불러오기-->
                                        BY. 이화인
                                        <br><br></span>
                                    <div class="price-rate-container">
                                        <span class="item-card__price">
                                            <img class="input-img" src="../../static/img/point.svg"
                                                style="margin-right: 5px;">
                                            <!--가격 백엔드에서 불러오기-->
                                            1000
                                        </span>
                                        <span class="item-card__rate">
                                            <span class="item-card__download" style="margin-right: 10px;">
                                                <img class="input-img" src="../../static/img/download.svg">
                                                <!--다운로드/판매횟수 백엔드에서 불러오기-->
                                                28
                                            </span>
                                            <span class="item-card__star">
                                                <img class="input-img" src="../../static/img/star.svg">
                                                <!--별점 백엔드에서 불러오기-->
                                                4.8
                                            </span>
                                        </span>
                                    </div>
                                    <div class="item-card__tag">
                                        <!--백엔드에서 불러오기-->
                                        #자료구조 #연결리스트
                                    </div>
                                    <div class="item-card__review">
                                        <!--추가: 리뷰화면으로 연결-->
                                        <a href="" style="border: 1.5px solid var(--light-grey);">리뷰</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </a>
                    <a href="../../1~4/3">
                        <li id="item-card4">
                            <div class="item-card">
                                <!--백엔드에서 등록된 상품 regitem__photo-upload 불러오기-->
                                <img class="item-card__img" src="../../static/img/logo.png">
                                <div class="item-card__info">
                                    <div class="item-card__course-and-prof">
                                        <!--백엔드에서 등록된 상품의 과목, 교수님 정보 불러오기-->
                                        자료구조 20481 | 홍길동 교수님
                                    </div>
                                    <strong class="item-card__item-name">
                                        <!--백엔드에서 등록된 item-name 불러오기-->
                                        제 6장 연결리스트1 정리
                                    </strong>
                                    <span class="item-card__seller">
                                        <!--백엔드에서 등록된 판매자 이름 불러오기-->
                                        BY. 이화인
                                        <br><br></span>
                                    <div class="price-rate-container">
                                        <span class="item-card__price">
                                            <img class="input-img" src="../../static/img/point.svg"
                                                style="margin-right: 5px;">
                                            <!--가격 백엔드에서 불러오기-->
                                            1000
                                        </span>
                                        <span class="item-card__rate">
                                            <span class="item-card__download" style="margin-right: 10px;">
                                                <img class="input-img" src="../../static/img/download.svg">
                                                <!--다운로드/판매횟수 백엔드에서 불러오기-->
                                                28
                                            </span>
                                            <span class="item-card__star">
                                                <img class="input-img" src="../../static/img/star.svg">
                                                <!--별점 백엔드에서 불러오기-->
                                                4.8
                                            </span>
                                        </span>
                                    </div>
                                    <div class="item-card__tag">
                                        <!--백엔드에서 불러오기-->
                                        #자료구조 #연결리스트
                                    </div>
                                    <div class="item-card__review">
                                        <!--추가: 리뷰화면으로 연결-->
                                        <a href="" style="border: 1.5px solid var(--light-grey);">리뷰</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </a>
                    <a href="../../1~4/3">
                        <li id="item-card5">
                            <div class="item-card">
                                <!--백엔드에서 등록된 상품 regitem__photo-upload 불러오기-->
                                <img class="item-card__img" src="../../static/img/logo.png">
                                <div class="item-card__info">
                                    <div class="item-card__course-and-prof">
                                        <!--백엔드에서 등록된 상품의 과목, 교수님 정보 불러오기-->
                                        자료구조 20481 | 홍길동 교수님
                                    </div>
                                    <strong class="item-card__item-name">
                                        <!--백엔드에서 등록된 item-name 불러오기-->
                                        제 6장 연결리스트1 정리
                                    </strong>
                                    <span class="item-card__seller">
                                        <!--백엔드에서 등록된 판매자 이름 불러오기-->
                                        BY. 이화인
                                        <br><br></span>
                                    <div class="price-rate-container">
                                        <span class="item-card__price">
                                            <img class="input-img" src="../../static/img/point.svg"
                                                style="margin-right: 5px;">
                                            <!--가격 백엔드에서 불러오기-->
                                            1000
                                        </span>
                                        <span class="item-card__rate">
                                            <span class="item-card__download" style="margin-right: 10px;">
                                                <img class="input-img" src="../../static/img/download.svg">
                                                <!--다운로드/판매횟수 백엔드에서 불러오기-->
                                                28
                                            </span>
                                            <span class="item-card__star">
                                                <img class="input-img" src="../../static/img/star.svg">
                                                <!--별점 백엔드에서 불러오기-->
                                                4.8
                                            </span>
                                        </span>
                                    </div>
                                    <div class="item-card__tag">
                                        <!--백엔드에서 불러오기-->
                                        #자료구조 #연결리스트
                                    </div>
                                    <div class="item-card__review">
                                        <!--추가: 리뷰화면으로 연결-->
                                        <a href="" style="border: 1.5px solid var(--light-grey);">리뷰</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </a>
                    <a href="../../1~4/3">
                        <li id="item-card6">
                            <div class="item-card">
                                <!--백엔드에서 등록된 상품 regitem__photo-upload 불러오기-->
                                <img class="item-card__img" src="../../static/img/logo.png">
                                <div class="item-card__info">
                                    <div class="item-card__course-and-prof">
                                        <!--백엔드에서 등록된 상품의 과목, 교수님 정보 불러오기-->
                                        자료구조 20481 | 홍길동 교수님
                                    </div>
                                    <strong class="item-card__item-name">
                                        <!--백엔드에서 등록된 item-name 불러오기-->
                                        제 6장 연결리스트1 정리
                                    </strong>
                                    <span class="item-card__seller">
                                        <!--백엔드에서 등록된 판매자 이름 불러오기-->
                                        BY. 이화인
                                        <br><br></span>
                                    <div class="price-rate-container">
                                        <span class="item-card__price">
                                            <img class="input-img" src="../../static/img/point.svg"
                                                style="margin-right: 5px;">
                                            <!--가격 백엔드에서 불러오기-->
                                            1000
                                        </span>
                                        <span class="item-card__rate">
                                            <span class="item-card__download" style="margin-right: 10px;">
                                                <img class="input-img" src="../../static/img/download.svg">
                                                <!--다운로드/판매횟수 백엔드에서 불러오기-->
                                                28
                                            </span>
                                            <span class="item-card__star">
                                                <img class="input-img" src="../../static/img/star.svg">
                                                <!--별점 백엔드에서 불러오기-->
                                                4.8
                                            </span>
                                        </span>
                                    </div>
                                    <div class="item-card__tag">
                                        <!--백엔드에서 불러오기-->
                                        #자료구조 #연결리스트
                                    </div>
                                    <div class="item-card__review">
                                        <!--추가: 리뷰화면으로 연결-->
                                        <a href="" style="border: 1.5px solid var(--light-grey);">리뷰</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </a>
                    <a href="../../1~4/3">
                        <li id="item-card7">
                            <div class="item-card">
                                <!--백엔드에서 등록된 상품 regitem__photo-upload 불러오기-->
                                <img class="item-card__img" src="../../static/img/logo.png">
                                <div class="item-card__info">
                                    <div class="item-card__course-and-prof">
                                        <!--백엔드에서 등록된 상품의 과목, 교수님 정보 불러오기-->
                                        자료구조 20481 | 홍길동 교수님
                                    </div>
                                    <strong class="item-card__item-name">
                                        <!--백엔드에서 등록된 item-name 불러오기-->
                                        제 6장 연결리스트1 정리
                                    </strong>
                                    <span class="item-card__seller">
                                        <!--백엔드에서 등록된 판매자 이름 불러오기-->
                                        BY. 이화인
                                        <br><br></span>
                                    <div class="price-rate-container">
                                        <span class="item-card__price">
                                            <img class="input-img" src="../../static/img/point.svg"
                                                style="margin-right: 5px;">
                                            <!--가격 백엔드에서 불러오기-->
                                            1000
                                        </span>
                                        <span class="item-card__rate">
                                            <span class="item-card__download" style="margin-right: 10px;">
                                                <img class="input-img" src="../../static/img/download.svg">
                                                <!--다운로드/판매횟수 백엔드에서 불러오기-->
                                                28
                                            </span>
                                            <span class="item-card__star">
                                                <img class="input-img" src="../../static/img/star.svg">
                                                <!--별점 백엔드에서 불러오기-->
                                                4.8
                                            </span>
                                        </span>
                                    </div>
                                    <div class="item-card__tag">
                                        <!--백엔드에서 불러오기-->
                                        #자료구조 #연결리스트
                                    </div>
                                    <div class="item-card__review">
                                        <!--추가: 리뷰화면으로 연결-->
                                        <a href="" style="border: 1.5px solid var(--light-grey);">리뷰</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </a>
                    <a href="../../1~4/3">
                        <li id="item-card8">
                            <div class="item-card">
                                <!--백엔드에서 등록된 상품 regitem__photo-upload 불러오기-->
                                <img class="item-card__img" src="../../static/img/logo.png">
                                <div class="item-card__info">
                                    <div class="item-card__course-and-prof">
                                        <!--백엔드에서 등록된 상품의 과목, 교수님 정보 불러오기-->
                                        자료구조 20481 | 홍길동 교수님
                                    </div>
                                    <strong class="item-card__item-name">
                                        <!--백엔드에서 등록된 item-name 불러오기-->
                                        제 6장 연결리스트1 정리
                                    </strong>
                                    <span class="item-card__seller">
                                        <!--백엔드에서 등록된 판매자 이름 불러오기-->
                                        BY. 이화인
                                        <br><br></span>
                                    <div class="price-rate-container">
                                        <span class="item-card__price">
                                            <img class="input-img" src="../../static/img/point.svg"
                                                style="margin-right: 5px;">
                                            <!--가격 백엔드에서 불러오기-->
                                            1000
                                        </span>
                                        <span class="item-card__rate">
                                            <span class="item-card__download" style="margin-right: 10px;">
                                                <img class="input-img" src="../../static/img/download.svg">
                                                <!--다운로드/판매횟수 백엔드에서 불러오기-->
                                                28
                                            </span>
                                            <span class="item-card__star">
                                                <img class="input-img" src="../../static/img/star.svg">
                                                <!--별점 백엔드에서 불러오기-->
                                                4.8
                                            </span>
                                        </span>
                                    </div>
                                    <div class="item-card__tag">
                                        <!--백엔드에서 불러오기-->
                                        #자료구조 #연결리스트
                                    </div>
                                    <div class="item-card__review">
                                        <!--추가: 리뷰화면으로 연결-->
                                        <a href="" style="border: 1.5px solid var(--light-grey);">리뷰</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </a>
                    <a href="../../1~4/3">
                        <li id="item-card9">
                            <div class="item-card">
                                <!--백엔드에서 등록된 상품 regitem__photo-upload 불러오기-->
                                <img class="item-card__img" src="../../static/img/logo.png">
                                <div class="item-card__info">
                                    <div class="item-card__course-and-prof">
                                        <!--백엔드에서 등록된 상품의 과목, 교수님 정보 불러오기-->
                                        자료구조 20481 | 홍길동 교수님
                                    </div>
                                    <strong class="item-card__item-name">
                                        <!--백엔드에서 등록된 item-name 불러오기-->
                                        제 6장 연결리스트1 정리
                                    </strong>
                                    <span class="item-card__seller">
                                        <!--백엔드에서 등록된 판매자 이름 불러오기-->
                                        BY. 이화인
                                        <br><br></span>
                                    <div class="price-rate-container">
                                        <span class="item-card__price">
                                            <img class="input-img" src="../../static/img/point.svg"
                                                style="margin-right: 5px;">
                                            <!--가격 백엔드에서 불러오기-->
                                            1000
                                        </span>
                                        <span class="item-card__rate">
                                            <span class="item-card__download" style="margin-right: 10px;">
                                                <img class="input-img" src="../../static/img/download.svg">
                                                <!--다운로드/판매횟수 백엔드에서 불러오기-->
                                                28
                                            </span>
                                            <span class="item-card__star">
                                                <img class="input-img" src="../../static/img/star.svg">
                                                <!--별점 백엔드에서 불러오기-->
                                                4.8
                                            </span>
                                        </span>
                                    </div>
                                    <div class="item-card__tag">
                                        <!--백엔드에서 불러오기-->
                                        #자료구조 #연결리스트
                                    </div>
                                    <div class="item-card__review">
                                        <!--추가: 리뷰화면으로 연결-->
                                        <a href="" style="border: 1.5px solid var(--light-grey);">리뷰</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </a>
                </ul>

                <!-------------------------페이지네이션---------------------->
                <!--클래스통일-->
                <!--js로 페이지네이션 기능 구현, 현재 페이지는 굵은/색이다른 글씨-->
                <ul class="pagination">
                    <li><a href="#">
                            << /a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">></a></li>
                </ul>

            </section>
        </div>
    </main>

</body>

</html>