<!DOCTYPE html>
<html>
<!--수정해야 할 곳 검색 키워드: '추가'-->
<!--클래스 통일/변경해야 할 곳 검색 키워드: '클래스통일'-->
<!--백엔드연결 키워드: '백엔드'-->

<head>
    <meta charset="UTF-8">
    <title>상품세부화면</title>
    <link href="../../static/1~4style.css" type="text/css" rel="stylesheet">
    <link href="../../static/style.css" type="text/css" rel="stylesheet">
    <link href="../../static/btn.css" type="text/css" rel="stylesheet">
    <script src="../../static/1~4main.js"></script>
</head>

<body>
    {% include 'header-and-nav.html'%}
    <!----------------------상품보기------------------------->
    <!----2번 화면 item card 중복 요소 있음-->
    <main id="order-page">
        <div id="order-page-container">
            <!-------------------대표상품이미지------------------>
            <!--가능하다면 js로
                    (1)이미지 개수에 따라 다르게 보이도록(없는 칸은 회색단색으로 표시
                    (2)이미지 클릭 시 그 이미지가 제일 큰 이미지창에 보이도록-->
            <!--추후 js 백엔드 연결 시 사진 삭제-->
            <div><!--대표이미지main. 1,2,3 서브이미지 중 하나 확대. default는 img-1-->
                <img class="item-detail__main-img" src="../../static/img/logo.png">
            </div>
            <div class="item-card__info"><!--아이템 정보-->
                <div class="item-card__course-and-prof">
                    <!--백엔드에서 등록된 상품의 과목, 교수님 정보 불러오기-->
                    자료구조 20481 | 홍길동 교수님
                </div>

                <strong class="item-card__item-name" style="font-size: 30px;">
                    <!--백엔드에서 등록된 item-name 불러오기-->
                    제 6장 연결리스트1 정리
                </strong><br>
                <span class="item-card__seller">
                    <!--백엔드에서 등록된 판매자 이름 불러오기-->
                    BY. 이화인
                    <br><br></span>

                <div class="price-rate-container">
                    <span class="item-card__price">
                        <img class="input-img" src="../../static/img/point.svg" style="margin-right: 5px;">
                        <!--가격 백엔드에서 불러오기-->
                        1000
                    </span>
                    <span class="item-card__rate">
                        <span class="item-card__download" style="margin-right: 10px;">
                            <img class="input-img" src="../../static/img/download.svg">
                            <!--다운로드/판매횟수 백엔드에서 불러오기-->
                            28
                        </span>
                        <span class="item-card__star">
                            <img class="input-img" src="../../static/img/star.svg">
                            <!--별점 백엔드에서 불러오기-->
                            4.8
                        </span>
                    </span>
                </div><br>
                <div class="item-card__type">
                    <!--item type; 백엔드에서받기 아래 텍스트는 예시-->
                    <span>전공 / 교양</span> 전공
                    </div>
                <div class="item-card__type">
                    <!--item type; 백엔드에서받기 아래 텍스트는 예시-->
                    <span>Type</span> 노트 정리
                </div>
                <div class="item-card__type">
                    <!--item type; 백엔드에서받기 아래 텍스트는 예시-->
                    <span>단대 / 학과</span> 엘텍공과대학 / 컴퓨터공학과
                </div><br>
                <div class="item-card__tag">
                    <!--백엔드에서 불러오기-->
                    #자료구조 #연결리스트
                </div>
            </div>
            <div class="item-detail__sub-img-container"><!-- 서브이미지-->
                <img id="item-info__img-1" class="item-detail__sub-img" src="../../static/img/logo.png">
                <img id="item-info__img-2" class="item-detail__sub-img" src="../../static/img/logo.png">
                <img id="item-info__img-3" class="item-detail__sub-img" src="../../static/img/logo.png">
                <!--백엔드에서 등록된 상품 regitem__photo-upload 불러오기-->
            </div>
            <!--구매 버튼-->
                <a href="../../1~4/4.html" title="to-payment" id="order-btn" class="button btnFade btnDefaultblue">바로
                    구매하기</a>
           

            <div id="order__view-rate__container"><!-------------------------상세설명/리뷰--------------------->
                <!----------------버튼 태그, js로 기능 구현, 백엔드 연결---------->
                <!--js: 클릭 시 상세설명이 보이도록-->
                <span><button id="descr-btn" class="button btnFade btnNavblue">상세 설명</button></span>
                <!--js: 클릭 시 리뷰 요약이 보이도록.안되면 전체 리뷰 창으로 이동-->
                <span><a href="../../5~7/6.html" id="review-btn" class="button btnFade btnNavblue">리뷰</a></span>
                <!--내용-->
                <div id="order__show-view-rate">
                    <!--리뷰내용--> <!--백엔드: 리뷰 내용 받아오기-->
                    <!--<div id="reveiw-screen" class="screen">
                        리뷰내용                        
                    </div> -->
                    <!--상세설명 텍스트-->
                    <div id="descr-screen" class="screen">
                        홍길동 교수님 자료구조 연결리스트 부분 정리 판매합니다.

                        아이패드를 사용한 정리이고 PDF 형식입니다!
                        저 작년에 자료구조 A+ 받았는데 홍길동 교수님 수업 점수 잘 받는 꿀팁
                        들도 몇개 써놨어요! 도움 됐으면 합니다ㅎㅎㅎ
                        <!--백엔드: 상세 설명 받아오기-->
                    </div>
                </div>
            </div>
        </div>
    </main>

</body>

</html>