<div class="item-card">
    <!--백엔드에서 등록된 상품 regitem__photo-upload 불러오기-->
    <img class="item-card__img" src="/static/img/logo.png">
    <div class="item-card__info">
        <div class="item-card__course-and-prof">
            <!--백엔드에서 등록된 상품의 과목, 교수님 정보 불러오기-->
            자료구조 20481 | 홍길동 교수님
        </div>
        <strong class="item-card__item-name">
            <!--백엔드에서 등록된 item-name 불러오기-->
            제 6장 연결리스트1 정리
        </strong>
        <span class="item-card__seller">
            <!--백엔드에서 등록된 판매자 이름 불러오기-->
            BY. 이화인
            <br><br></span>
        <div class="price-rate-continer">
            <span class="item-card__price">
                <img class="input-img" src="/static/img/point.svg" style="margin-right: 5px;">
                <!--가격 백엔드에서 불러오기-->
                1000
            </span>
            <span class="item-card__rate">
                <span class="item-card__download" style="margin-right: 10px;">
                    <img class="input-img" src="/static/img/download.svg">
                    <!--다운로드/판매횟수 백엔드에서 불러오기-->
                    28
                </span>   
                <span class="item-card__star">
                    <img class="input-img" src="/static/img/star.svg">
                    <!--별점 백엔드에서 불러오기-->
                    4.8
                </span>
            </span>
        </div>
        <div class="item-card__tag">
            <!--백엔드에서 불러오기-->
            #자료구조 #연결리스트
        </div>
        <div class="item-card__review">
            <!--추가: 리뷰화면으로 연결-->
            <a href="" style="border: 1.5px solid var(--light-grey);">리뷰</a>
        </div>
    </div>
</div>